*.o
*~
*.user
config.txt
qrc_ressource.cpp
.qmake.stash
moc_*.cpp
ui_*.h
*.new
*.3d
*.comp.html
*.cov
*.csv
*.comp
*.cap
*/res/*
*.XYZ
*.xyz
*.comp_var_covar.csv
*.xml
/Makefile
comp3d_config.txt
*.aux
*.log
*.out
*.pdf
*.soc
*.toc
*.backup
*.nav
*.snm
*.pri
*.4ct
*.4tc
*.dvi
*.idv
*.lg
*.tmp
*.xref
bugs/*
*.AppImage
src/genere/git_revision.cpp
distrib/comp3d*
ex/*
autobuild/*
autobuild-mxe/*
distrib/tmp/*
tests/data/*/res/*
comp3d-cppcheck-build-dir/*
build-tests-Desktop-Debug/*
build-tests-Desktop-Release/*
doc_prog/general.md
doc_prog/html/*
tests/Makefile
tests/autobuild/*
tests/autobuild-mxe/*
anciens/
cours/
poubelle/
*.mo
doc_uni/_build/
doc_uni/data/
doc_uni/??/
build*
/CCACHE_DOCKER/*
!/CCACHE_DOCKER/ccache.conf

